src/clientversion.cpp export-subst
src/qt/test/test_woocoin-qt filter=lfs diff=lfs merge=lfs -text
src/qt/woocoin-qt filter=lfs diff=lfs merge=lfs -text
src/test/test_woocoin filter=lfs diff=lfs merge=lfs -text
src/woocoind filter=lfs diff=lfs merge=lfs -text
